
#home{ 
   		background:url(../images/logo.png) no-repeat center #6963ad;
   
   	}
  #no {
  	display: none;	
  } 
  #ball {
  	width: 20px;
  	height: 20px;
  	border-radius: 10px;
  	background-color: red;
  	position:absolute;
  	top: 0px;
  	left: 0px;
  }
/* Portrait 
@media screen and (orientation:portrait) {
  #home{ 
  	background:url(../images/bg_port.png) no-repeat;
  }
}

@media screen and (orientation:landscape) {
   #home{ 
   		background:url(../images/bg_land.png) no-repeat;
   	}
}

*/